
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
                <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <div class="header-menu-right">
               <a href="/" class="underline">home</a>
               <a class="underline" id="t_modal">transfer</a>
               <a class="underline" id="c_modal">classes</a>
               <a class="underline" id="s_modal">study</a>
               <a  class="underline" id="ch_modal">chat</a>
               <a class="underline" id="meet_modal">project</a>
            </div>
        　</div>
        </div>
      </header>
    <div class="click_disappear">

        <div id = "classes" class="class_section class-info class_info_2">
          <div class="section-title">
            <h2>classes</h2>
          </div>
          <p>
            Share your thoughts!<br>Whose class should/shouldn't you take?
          </p>
          <div class="container-2 languages">
            <a href="/class/japa2" class="subject yellow small-2">Japanese 2</a>
            <a href="/class/japa3" class="subject yellow small-2">Japanese 3</a>
            <a href="/class/french2" class="subject yellow">French 2</a>
            <a href="/class/french3" class="subject yellow">French 3</a>
            <a href="/class/mand2" class="subject yellow small-2">Mandarin 2</a>
            <a href="/class/mand3" class="subject yellow small-2">Mandarin 3</a>
            <a href="/class/ger2" class="subject yellow small">Germany 2</a>
            <a href="/class/ger3" class="subject yellow small">Germany 3</a>
            <a href="/class/ital2" class="subject yellow">Italian 2</a>
            <a href="/class/ital3" class="subject yellow">Italian 3</a>
            <a href="/class/kore2" class="subject yellow">Korean 2</a>
            <a href="/class/kore3" class="subject yellow">Korean 3</a>
            <a href="/class/russ2" class="subject yellow small">Russian 2</a>
            <a href="/class/russ3" class="subject yellow small">Russian 3</a>
            <a href="/class/spanish2" class="subject yellow small">Spanish 2</a>
            <a href="/class/spanish3" class="subject yellow small">Spanish 3</a>

           </div>

          </div>


      <div class="posts-new">
        <div class="container">
          <h1 class="rate">search rate by professor name</h1>
          <%= form_tag("/class/search/GEs") do %>
            <div class="form">
              <div class="form-body">
                <i class="fas fa-search"></i><input class = "search" name="name" placeholder="professor name">
                <p class="choose_class">select class</p>
                <select name="name_2">
                  <option selected hidden value = "none">Choose class</option>
                  <option value="japa">Japanese</option>
                  <option value="mand">Mandarin</option>
                  <option value="french">French</option>
                  <option value="ger">Germany</option>
                  <option value="kore">Korean</option>
                  <option value="ital">Italian</option>
                  <option value="russ">Russian</option>
                  <option value="spanish">Spanish</option>
                </select>
                <input class = "input_bottom" type="submit" value = "search !">
              </div>
           <% end %>
            </div>
         </div>
       </div>

    </div>

    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="https://twitter.com/deanzabook1" class="fab fa-twitter"></a>
      <a href="https://www.facebook.com/deanza.book.3" class="fab fa-facebook-f"></a>
      <a href="https://www.instagram.com/deanzabook/" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
    <script src="script.js"></script>
  </body>
</html>
