
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
                <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <div class="header-menu-right">
               <a href="/" class="underline">home</a>
               <a class="underline" id="t_modal">transfer</a>
               <a class="underline" id="c_modal">classes</a>
               <a class="underline" id="s_modal">study</a>
               <a  class="underline" id="ch_modal">chat</a>
               <a class="underline" id="meet_modal">project</a>
            </div>
        　</div>
        </div>
      </header>

    <div class="click_disappear">

        <div id = "classes" class="class_section class-info">
          <div class="section-title">
            <h2>classes</h2>
          </div>
          <p>
            Share your thoughts!<br>Whose class should/shouldn't you take?
          </p>
          <div class="container-2">
            <a href="/class/poli1" class="subject yellow small">Poli Science 1</a>
            <a href="/class/poli2" class="subject yellow small">Poli Science 2</a>
            <a href="/class/poli3" class="subject yellow small">Poli Science 3</a>
            <a href="/class/poli5" class="subject yellow small">Poli Science 5</a>

            <a href="/class/hist6A" class="subject yellow">History 6A</a>
            <a href="/class/hist6B" class="subject yellow">History 6B</a>
            <a href="/class/hist6C" class="subject yellow">History 6C</a>
            <a href="/class/hist16A" class="subject yellow">History 16A</a>
            <a href="/class/hist17A" class="subject yellow">History 17A</a>
            <a href="/class/hist17B" class="subject yellow">History 17B</a>
            <a href="/class/hist17C" class="subject yellow">History 17C</a>
            <a href="/class/hist19A" class="subject yellow">History 19A</a>


           </div>

         </div>


      <div class="posts-new">
        <div class="container">
          <h1 class="rate">search rate by professor name</h1>
          <%= form_tag("/class/search/poliHist") do %>
            <div class="form">
              <div class="form-body">
                <i class="fas fa-search"></i><input class = "search" name="name" placeholder="professor name">
                <p class="choose_class">select class</p>
                <select name="name_2">
                  <option selected hidden value = "none">Choose class</option>
                  <option value="poli">Poli Science</option>
                  <option value="hist">Histry</option>
                </select>
                <input class = "input_bottom" type="submit" value = "search !">
              </div>
           <% end %>
            </div>
         </div>
       </div>

    </div>

    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="https://twitter.com/deanzabook1" class="fab fa-twitter"></a>
      <a href="https://www.facebook.com/deanza.book.3" class="fab fa-facebook-f"></a>
      <a href="https://www.instagram.com/deanzabook/" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
    <script src="script.js"></script>
  </body>
</html>
