
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GSociety</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
                <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <div class="header-menu-right">
               <a href="/" class="underline">home</a>
               <a class="underline" id="t_modal">transfer</a>
               <a class="underline" id="c_modal">classes</a>
               <a class="underline" id="s_modal">study</a>
               <a  class="underline" id="ch_modal">chat</a>
               <a class="underline" id="meet_modal">project</a>
            </div>
        　</div>
        </div>
      </header>

    <div class="click_disappear">

        <div id = "classes" class="class_section class-info">
          <div class="section-title">
            <h2>classes</h2>
          </div>
          <p>
            Share your thoughts!<br>whose class should I take or shouldn't?
          </p>
          <div class="container-2">
            <a href="/class/bio6A" class="subject yellow">Biology 6A</a>
            <a href="/class/bio6B" class="subject yellow">Biology 6B</a>
            <a href="/class/bio6C" class="subject yellow">Biology 6C</a>
            <a href="/class/chem1A" class="subject yellow">Chem 1A</a>
            <a href="/class/chem1B" class="subject yellow">Chem 1B</a>
            <a href="/class/chem1C" class="subject yellow">Chem 1C</a>
            <a href="/class/chem12A" class="subject yellow">Chem 12A</a >
            <a href="/class/chem12B" class="subject yellow">Chem 12B</a>
            <a href="/class/chem12C" class="subject yellow">Chem 12C</a>
            <a href="/class/phys2A" class="subject yellow">Physics 2A</a>
            <a href="/class/phys2B" class="subject yellow">Physics 2B</a >
            <a href="/class/phys2C" class="subject yellow">Physics 2C</a>
            <a href="/class/phys4A" class="subject yellow">Physics 4A</a>
            <a href="/class/phys4B" class="subject yellow">Physics 4B</a >
            <a href="/class/phys4C" class="subject yellow">Physics 4C</a>
            <a href="/class/phys4D" class="subject yellow">Physics 4D</a>
           </div>

          </div>


      <div class="posts-new">
        <div class="container">
          <h1 class="rate">search rate by professor name</h1>
          <%= form_tag("/class/search/science") do %>
            <div class="form">
              <div class="form-body">
                <i class="fas fa-search"></i><input class = "search" name="name" placeholder="professor name">
                <p class="choose_class">select class</p>
                <select name="name_2">
                  <option selected hidden value = "none">Choose class</option>
                  <option value="bio">Biology</option>
                  <option value="chem">Chemistry</option>
                  <option value="phys">Physics</option>
                </select>
                <input class = "input_bottom" type="submit" value = "search !">
              </div>
           <% end %>
            </div>
         </div>
       </div>

    </div>

    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
    <script src="script.js"></script>
  </body>
</html>
