
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>
      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
                <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <div class="header-menu-right">
               <a href="/" class="underline">home</a>
               <a class="underline" id="t_modal">transfer</a>
               <a class="underline" id="c_modal">classes</a>
               <a class="underline" id="s_modal">study</a>
               <a  class="underline" id="ch_modal">chat</a>
               <a class="underline" id="meet_modal">project</a>
            </div>
        　</div>
        </div>
      </header>
  <div class="click_disappear">

    <div class="tranfer-content t_1">
      <h2></h2>
      <div class="container">
        <ul>
          <li>Name
            <p>Kivia</p>
          </li>

          <li>Accepted Universities
            <p>UCB, UCSD, UCR</p>
          </li>

          <li>Major
            <p>Business Admin</p>
          </li>

          <li>Total GPA
            <p>3.92</p>
          </li>

          <li>Extracurricular Activities
            <p>music ministry in church, club in de anza</p>
          </li>

          <li>Advices
            <p>Do your best for your personal statement, make it actually personal.
              Show what’s unique about yourself. Make no room for grammar or
              spelling mistakes - it just shows that you do not care about your
              application enough to have other people proofread it. After you get
              accepted, choose schools based on the culture and how you think you
              will adapt to it. Do not just choose according to its ranking or you
              might suffer under the workload/environment etc.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="transfer_icon">
        <i class="fas fa-plus-circle"></i>
    </div>

    <div class="tranfer-content">
      <h2></h2>
      <div class="container">
        <ul>
          <li>Name
            <p>A.H</p>
          </li>

          <li>Accepted Universities
            <p>UCSB(Econ), UCSD(international business), SJSU(business admin)</p>
          </li>

          <li>Major
            <p>international business</p>
          </li>

          <li>Total GPA
            <p>3.7</p>
          </li>


          <li>Extraculicullar Activities
            <p>TDe Anza club activities, volunteers(irregular), work on campus(only 1 quarter)</p>
          </li>

          <li>Advices
            <p>I wanted to do volunteer or activity which related to my major. (It was hard to find it.)

When I wrote UC essay, I showed the essay to my friends and professors. It is
better for you to write emotionally rather than basic stuff. Try to show your
character and represent who you are in your essay:)
I hope you admit the first choice university!!! Don’t be afraid to apply prestige
university like UCB or UCLA. (I regreted a little since I did not try those.)
Whatever GPA you have, you may have a possibility. Good luck👌</p>
          </li>
        </ul>
      </div>
    </div>



    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
  </div>
    <script src="script.js"></script>
  </body>
</html>
