
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
                <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <div class="header-menu-right">
               <a href="/" class="underline">home</a>
               <a class="underline" id="t_modal">transfer</a>
               <a class="underline" id="c_modal">classes</a>
               <a class="underline" id="s_modal">study</a>
               <a  class="underline" id="ch_modal">chat</a>
               <a class="underline" id="meet_modal">project</a>
            </div>
        　</div>
        </div>
      </header>

    <div class="tranfer-content t_1">
      <div class="container">
        <ul>
          <li>Name
            <p>Jia Ying Goh</p>
          </li>

          <li>Accepted Universities
            <p>UC Berkeley, UCLA, UC Davis, UC San Diego, UC Irvine</p>
          </li>

          <li>Major
            <p>Economics</p>
          </li>

          <li>Total GPA
            <p>3.98</p>
          </li>

          <li class="class">Classes
            <p >2016 Summer</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>Math 42</td>
                  <td>Nina Danilova</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>EWRT 1A</td>
                  <td>Christopher Dickson</td>
                  <td>A-</td>
                </tr>
                <tr>
                  <td>ECON 02</td>
                  <td>Stephen Zill</td>
                  <td>A+</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2016 Fall</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ACCT 1A</td>
                  <td>Chris Kwak</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>Math 43</td>
                  <td>Hermendrah Shah</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>Bus 10</td>
                  <td>Emmanuel Capello</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>EWRT 2</td>
                  <td>Ruth Trimble</td>
                  <td>A</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Winter</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>Acct 1B</td>
                  <td>Mia Breen</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>Math 1A</td>
                  <td>Joan Parrish</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Econ 1</td>
                  <td>Ravjeet Singh</td>
                  <td>A+</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Spring</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ASTR 4</td>
                  <td>Paul Olejniczak</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>ASTR 15L</td>
                  <td>Marek Cichanski</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Math 1B</td>
                  <td>Bert Lo</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Poli 1</td>
                  <td>Laura Chin</td>
                  <td>A</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Summer</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>Acct 1C</td>
                  <td>Jay Park</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>Math 10</td>
                  <td>Mo Geraughty</td>
                  <td>A+</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Fall</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ARTS 2D</td>
                  <td>Yael Karmi</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>Math 1C</td>
                  <td>Kryliouk</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>Hist 1C</td>
                  <td>Howard-Pitney</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Humi 16</td>
                  <td>Leslie Berry</td>
                  <td>A</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2018 Winter</p>
            <div class="container-3">
              <table style="width:100%" class = "last-table">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ANTH 1</td>
                  <td>Ameetha Tiwana</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Math 1D</td>
                  <td>Mehrdad Khosravi</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Phil 1</td>
                  <td>Trung Le</td>
                  <td>A+</td>
                </tr>
              </table>
            </div>

          </li>

          <li>Extraculicullar Activities
            <p>Marketing Club Finance Officer, Job Fair Club Finance Officer</p>
          </li>

          <li>Advices
            <p>My advice would be to plan out your classes early in order to
              satisfy all the requirements for all the different campuses and
              majors you want to apply to. Go and visit a counselor regularly
              until you have a solid transfer plan!</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="transfer_icon">
        <i class="fas fa-plus-circle"></i>
    </div>

    <div class="tranfer-content t_1">
      <div class="container">
        <ul>
          <li>Name
            <p>Boris Deyanov</p>
          </li>

          <li>Accepted Universities
            <p>UC Berkeley, UCLA, UC Santa Barbara, UC Irvine, UC Santa Cruz</p>
          </li>

          <li>Major
            <p>Economics</p>
          </li>

          <li>Total GPA
            <p>3.96</p>

          <li>Extraculicullar Activities
            <p>Not many. I listed my work experience, my awards from high
              school, and a small concert we put on in high school as
              extracurriculars.</p>
          </li>

          <li>Advices
            <p>The only piece of advise I would offer is that students need to
              read what each university they want to apply to wants in terms of
              classes and requirements. This information is found on ASSIST.ORG.
              Read all of the documents carefully, and take all of the classes
              you need - that way you can remain competitive.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="transfer_icon">
        <i class="fas fa-plus-circle"></i>
    </div>

    <div class="tranfer-content">
      <div class="container">
        <ul>
          <li>Name
            <p>Mevani</p>
          </li>

          <li>Accepted Universities
            <p>UC Berkeley, Davis, San Diego, Santa Barbara, UW (Foster), SCU (Leavy)</p>
          </li>

          <li>Major
            <p>Economics</p>
          </li>

          <li>Total GPA
            <p>3.98</p>

          <li>Extraculicullar Activities
            <p>ICC</p>
          </li>

          <li>Advices
            <p>Finish english and math sequence and also major requirements by
              the fall quarter when you start applying.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
    <script src="script.js"></script>
  </body>
</html>
