
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
                <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <div class="header-menu-right">
               <a href="/" class="underline">home</a>
               <a class="underline" id="t_modal">transfer</a>
               <a class="underline" id="c_modal">classes</a>
               <a class="underline" id="s_modal">study</a>
               <a  class="underline" id="ch_modal">chat</a>
               <a class="underline" id="meet_modal">project</a>
            </div>
        　</div>
        </div>
      </header>

    <div class="tranfer-content">
      <div class="container">
        <ul>
          <li>Name
            <p>K.W.</p>
          </li>

          <li>Accepted Universities
            <p>UC Berkeley and UCLA</p>
          </li>

          <li>Major
            <p>EECS (Electrical Engineering and Computer Science)</p>
          </li>

          <li>Total GPA (when applying)
            <p>4.0</p>
          </li>

          <li class="class">Classes
            <p >2016 Fall</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>BEG PROG METHOD C++</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>INTRO ENGINEERNG</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>MATH 43</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>INTER GERMAN</td>
                  <td>A</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Winter</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>INTERMID PROG METHOD C++</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Math 1A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>READ 211</td>
                  <td>P</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Spring</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>DATA ABSTRACT & STRUCTURES</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>EWRT 1A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>MATH 1B</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>Physics 4A</td>
                  <td>A+</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Summer</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>INTRO TO UNIX/LINUX</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>MATH 1C</td>
                  <td>A+</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Fall</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>Math 1D Honor</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>EWRT 1B</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Physics 4B</td>
                  <td>A</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2018 Winter</p>
            <div class="container-3">
              <table style="width:100%" class="last-table">
                <tr>
                  <th>class name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>INTRO X86 PROC ASSMBLY LANG</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Math 2A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>Physics 4C</td>
                  <td>B+</td>
                </tr>
                <tr>
                  <td>AMERICAN GOVT & POLITICS</td>
                  <td>A</td>
                </tr>
              </table>
            </div>

          </li>

          <li>Extraculicullar Activities
            <p>Internship</p>
          </li>

          <li>Advices
            <p>It would've made the application stronger If I did some more
              extracurricular activities that relate to my major. In my case,
              it would be nice if I build a new product myself since I'm EECS
              major. If you were business major, it's also a good idea to try
              some businesses. Nonetheless, I think the most
              important part is to do whatever I want to do rather than doing
              what I need in order to transfer.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
    <script src="script.js"></script>
  </body>
</html>
