
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GSociety</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
              <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <ul class="header-menu-right">
              <li>
                <a href="/" class="underline">home</a>
              </li>
              <li>
                <a class="underline" id="t_modal">transfer</a>
              </li>
              <li>
                <a class="underline" id="c_modal">classes</a>
              </li>
              <li>
                <a class="underline" id="s_modal">study</a>
              </li>
              <li>
                <a  class="underline" id="ch_modal">chat</a>
              </li>
              <li>
                <a  class="underline" id="meet_modal">project</a>
              </li>
            </ul>
          </div>
        </div>
      </header>

    <div class="tranfer-content">
      <h2></h2>
      <div class="container">
        <ul>
          <li>Name
            <p>Stella</p>
          </li>

          <li>Accepted Universities
            <p>UCLA</p>
          </li>

          <li>Major
            <p>Linguitics and Anthropology</p>
          </li>

          <li>Total GPA
            <p>3.88</p>
          </li>

          <li class="class">Classes
            <p >2016 Fall</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ANTH 1</td>
                  <td>Soluri</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>JAPN 4</td>
                  <td>Yukiko Konishi</td>
                  <td>A</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Winter</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ESL 273</td>
                  <td>Linda Yee</td>
                  <td>P</td>
                </tr>
                <tr>
                  <td>JAPN 5</td>
                  <td>Yukiko Konishi</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>ANTH 2</td>
                  <td>Tiwana</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>MATH 10</td>
                  <td>Franklin Snow</td>
                  <td>B</td>
                </tr>

              </table>
            </div>

            <p id="no-border">2017 Spring</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ELIT 11</td>
                  <td>Azin Arefi</td>
                  <td>A-</td>
                </tr>
                <tr>
                  <td>KORE 1</td>
                  <td>Hwaja Choi</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>HIST 19B</td>
                  <td>Knittel</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>ESL 5</td>
                  <td>Ouyang</td>
                  <td>P</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Summer</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ECON 1</td>
                  <td>Ninos</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>EWRT 1A</td>
                  <td>Brian Smith</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>SPCH 1</td>
                  <td>Anya</td>
                  <td>A</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Fall</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>EWRT 2</td>
                  <td>Kim Palmore</td>
                  <td>A-</td>
                </tr>
                <tr>
                  <td>ANTH 6</td>
                  <td>Kyejung Yang</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>HUMI 1</td>
                  <td>Sal Brieter</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>SOCI 1</td>
                  <td>Mark Pasion</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>GEO 1</td>
                  <td>Kelly</td>
                  <td>A</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2018 Winter</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ANTH 4</td>
                  <td>Olsen</td>
                  <td>B+</td>
                </tr>
                <tr>
                  <td>ANTH 1L</td>
                  <td>Emily Beggs</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>KORE 2</td>
                  <td>Hwaja Choi</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>LING 1</td>
                  <td>Dubarry</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>EWRT 30</td>
                  <td>Kim Palmore</td>
                  <td>A</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2018 Spring</p>
            <div class="container-3">
              <table style="width:100%" class = "last-table">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                </tr>
                <tr>
                  <td>KORE 3</td>
                  <td>Yurha Lee</td>
                </tr>
                <tr>
                  <td>JAPN 6</td>
                  <td>Ikuko Rakow</td>
                </tr>
                <tr>
                  <td>HIST 19A</td>
                  <td>Knittel</td>
                </tr>
              </table>
            </div>

          </li>

          <li>Extraculicullar Activities
            <p>volunteers</p>
          </li>

          <li>Advices
            <p>I think you can choose a major you really like in stead of a
              major that is popular but you don't like</p>
          </li>

          <li>Transfer Essay
            <p class="essay-title">Theme: Please describe how you have prepared for your intended major​,
              including your readiness to succeed in your upper-division courses
              once you enroll at the university.</p>
              <p>Before attending college, I
              have been interested in Language and the society people livein for
              a long time. I want to know where languages originate from, how they
              have developed,and how important they are to the world. My middle school was an affiliated school to a famous
university, so I was able to enter the university’s library, in which I read a lot of books and
articles related to Languages and human. I also joined a pronunciation club to practice my
speaking skills, because I thought being able to pronounce clearly and correctly helps me
understand every part of the language better. I was, and am, determined to dedicate my life to
Linguistics and Anthropology.
After attending college, I was very excited to know that my school offers anthropology
classes, and I signed up quickly. By now, I have already finished physical and cultural
anthropology, and have experienced several kinds of field work. I went to interview other people
and set up exhibition boards to tell others what I have discovered in specific given topics. These
basic fieldworks gave me an overview of what I will be doing in the upper level classes. I am
currently taking linguistics anthropology and sociology, and I will take Linguistics and archeology
in the next quarter. I believe that all these classes can lead me to be well prepared for my future
study.
Besides, I have also learned two foreign languages, both before and after I entered
college. I believe that when interviewing others for my fieldwork, communicating with them in
their native languages makes them feel more comfortable and I can get their precise meaning,
which are much better than using a language that is not their native tongue. Moreover, being
able to understand more languages mean that I have more opportunities and am able to get
information from academic works in different languages.Therefore, I think I am well prepared for
my intended major. I am ready and looking forward to learn more about the field I love after I
transfer.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
    <script src="script.js"></script>
  </body>
</html>
