
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GSociety</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
              <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <ul class="header-menu-right">
              <li>
                <a href="/" class="underline">home</a>
              </li>
              <li>
                <a class="underline" id="t_modal">transfer</a>
              </li>
              <li>
                <a class="underline" id="c_modal">classes</a>
              </li>
              <li>
                <a class="underline" id="s_modal">study</a>
              </li>
              <li>
                <a  class="underline" id="ch_modal">chat</a>
              </li>
              <li>
                <a  class="underline" id="meet_modal">project</a>
              </li>
            </ul>
          </div>
        </div>
      </header>

    <div class="tranfer-content t_1">
      <div class="container">
        <ul>
          <li>Name
            <p>Devin The</p>
          </li>

          <li>Accepted Universities
            <p>UC Davis, UCI, UCLA, UCSB, UCSD<br>University of Michigan,
              University of Toronto</p>
          </li>

          <li>Major
            <p>Applied Math</p>
          </li>

          <li>Total GPA
            <p>3.96</p>

          <li>Extraculicullar Activities
            <p>IDEA club President</p>
          </li>

          <li>Advices
            <p>Filling in more time with extracurricular activities. You have a
              lot of time. Classes make a small part of it. Manage it well, and
              there should be a lot of free time available for ECs.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="transfer_icon">
        <i class="fas fa-plus-circle"></i>
    </div>

    <div class="tranfer-content">
      <h2></h2>
      <div class="container">
        <ul>
          <li>Name
            <p>Zhubo Deng</p>
          </li>

          <li>Accepted Universities
            <p>UCLA, UCSD, UCD, UCSC, UCSB</p>
          </li>

          <li>Major
            <p>Applied Math</p>
          </li>

          <li>Total GPA
            <p>3.92</p>
          </li>

          <li class="class">Classes
            <p >2016 Fall</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                </tr>
                <tr>
                  <td>CIS 22A</td>
                </tr>
                <tr>
                  <td>JAPN</td>
                </tr>
                <tr>
                  <td>KORE</td>
                </tr>
                <tr>
                  <td>Math 1C</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Winter</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                </tr>
                <tr>
                  <td>CIS 22B</td>
                </tr>
                <tr>
                  <td>EWRT 211</td>
                </tr>
                <tr>
                  <td>JAPN 2</td>
                </tr>
                <tr>
                  <td>KORE 2</td>
                </tr>
                <tr>
                  <td>MATH 1D</td>
                </tr>
                <tr>
                  <td>PHTG 7</td>
                </tr>
                <tr>
                  <td>Physics 4B</td>
                </tr>
                <tr>
                  <td>READ 211</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Spring</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                </tr>
                <tr>
                  <td>CIS 21JA</td>
                </tr>
                <tr>
                  <td>CIS 35A</td>
                </tr>
                <tr>
                  <td>ESCI 211</td>
                </tr>
                <tr>
                  <td>EWRT 211</td>
                </tr>
                <tr>
                  <td>FREN 1</td>
                </tr>
                <tr>
                  <td>HIST 17B</td>
                </tr>
                <tr>
                  <td>KORE 3</td>
                </tr>
                <tr>
                  <td>MATH 2B</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Summer</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                </tr>
                <tr>
                  <td>ANTH 2</td>
                </tr>
                <tr>
                  <td>EWRT 1A</td>
                </tr>
                <tr>
                  <td>HIST 17A</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Fall</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                </tr>
                <tr>
                  <td>CIS 22C</td>
                </tr>
                <tr>
                  <td>DANC 38A</td>
                </tr>
                <tr>
                  <td>ACCT 1A</td>
                </tr>
                <tr>
                  <td>EWRT 2</td>
                </tr>
                <tr>
                  <td>HUMI 16</td>
                </tr>
                <tr>
                  <td>MATH 10</td>
                </tr>
                <tr>
                  <td>MET 10</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2018 Winter</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                </tr>
                <tr>
                  <td>CIS 41A</td>
                </tr>
                <tr>
                  <td>DANC 23L</td>
                </tr>
                <tr>
                  <td>LING 1</td>
                </tr>
                <tr>
                  <td>MATH 2A</td>
                </tr>
                <tr>
                  <td>Math 22</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2018 Spring</p>
            <div class="container-3">
              <table style="width:100%" class="last-table">
                <tr>
                  <th>class name</th>
                </tr>
                <tr>
                  <td>DANC 23M</td>
                </tr>
                <tr>
                  <td>MATH 1B</td>
                </tr>
                <tr>
                  <td>Pysics 4C</td>
                </tr>
                <tr>
                  <td>Physics 4A</td>
                </tr>
                <tr>
                  <td>Poli 16</td>
                </tr>
              </table>
            </div>

          </li>

          <li>Extraculicullar Activities
            <p>Two months internship for web design;<br>
Math Club co-founder and officer; <br>
CIS Lab tutor; <br>
KDC Dance Club, performed on various stages;</p>
          </li>

          <li>Advices
            <p>Taking more classes to boost the GPA is not necessarily helpful.
              Applicant who took too many classes irrelevant to the major will
              be considered suspicious by the admission officers even though he
              or she have a higher GPA.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
    <script src="script.js"></script>
  </body>
</html>
