
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
                <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <div class="header-menu-right">
               <a href="/" class="underline">home</a>
               <a class="underline" id="t_modal">transfer</a>
               <a class="underline" id="c_modal">classes</a>
               <a class="underline" id="s_modal">study</a>
               <a  class="underline" id="ch_modal">chat</a>
               <a class="underline" id="meet_modal">project</a>
            </div>
        　</div>
        </div>
      </header>
  <div class="click_disappear">
    <div class="tranfer-content">
      <div class="container">
        <ul>
          <li>Name
            <p>Akane Ka</p>
          </li>

          <li>Accepted Universities
            <p>UC Berkeley, UCLA, UCSD, UCSB, UC Davis</p>
          </li>

          <li>Major
            <p>Media</p>
          </li>

          <li>Total GPA
            <p>4.0</p>
          </li>

          <li class="class">Classes
            <p >2016 Spring</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ESL 251 252 253</td>
                  <td></td>
                  <td>P</td>
                </tr>
                <tr>
                  <td>HUMI 1</td>
                  <td>Lori Clincherd</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>ES 1</td>
                  <td>Adriana Frisbee</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>PE Pilatis</td>
                  <td></td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>PE Stretch</td>
                  <td></td>
                  <td>A</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2016 Fall</p>
            <div class="container-3">
              <table class="table-2" style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ESL 261 262 263</td>
                  <td></td>
                  <td>P</td>
                </tr>
                <tr>
                  <td>ESCI 1</td>
                  <td>Adriana Frisbee</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>ESCI L</td>
                  <td></td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>MAND 3</td>
                  <td>Hua Fu Liu</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>PE Badminton</td>
                  <td></td>
                  <td>A</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Winter</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ESL 272 273</td>
                  <td></td>
                  <td>P</td>
                </tr>
                <tr>
                  <td>JAPN 5</td>
                  <td>Yukiko Konishi</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>MATH 10</td>
                  <td>Mo Geraphty</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>MAND 5</td>
                  <td>Hua Fu Liu</td>
                  <td>A+</td>
                </tr>

              </table>
            </div>

            <p id="no-border">2017 Spring</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ESL 5</td>
                  <td></td>
                  <td>P</td>
                </tr>
                <tr>
                  <td>MAND 6</td>
                  <td>Hwaja Choi</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>COMI 1</td>
                  <td>Peter Lee</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>PSYC 1</td>
                  <td>Mark Heley</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>ECON 1</td>
                  <td>Koshin</td>
                  <td>A+</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Summer</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>EWRT 1A</td>
                  <td>Brian Smith</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>ECON 2</td>
                  <td>Koshin</td>
                  <td>A+</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Fall</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>EWRT 2</td>
                  <td>Brian Smith</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>SOCI 1</td>
                  <td>Mark Pasion</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>GEO 1</td>
                  <td>Kelly</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>MAND 4</td>
                  <td>Hua Fu Liu</td>
                  <td>A+</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2018 Winter</p>
            <div class="container-3">
              <table style="width:100%" class = "last-table">
                <tr>
                  <th>class name</th>
                  <th>professor name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>LING 1</td>
                  <td>Ruberry</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>HIST 17B</td>
                  <td>Greg Knittel</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>ANTH 1L</td>
                  <td>Emily Beggs</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>POLI 1</td>
                  <td>James Nguyen</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>ICS 24</td>
                  <td>Mendoza</td>
                  <td>A</td>
                </tr>
              </table>
            </div>

          </li>

          <li>Extracurricular Activities
            <p>Volunteer, Internship</p>
          </li>

          <li>Advice
            <p>I think students should not give up their dream school and try to
              study hard. I think for Communication/ Media major , if they study
              enough, they must get the better grade. For transfer essay, students
              should write their personal experiences!!!</p>
          </li>

          <li>Transfer Essay
            <p class="essay-title">Theme: What have you done to make your school or your community a better place?</p>
              <p>&emsp;&emsp;&emsp;&emsp;I have used my knowledge of different languages and cultures to make De Anza
College a better place. At the college, there are many students from around the world,
so it is a great school in which to get to know other students’ cultures and to learn new
languages. I have used my own knowledge to contribute to other students’ learning in
three ways.<br>&emsp;&emsp;&emsp;&emsp;The most significant thing I did was to become a world language tutor. I was
born in China, then my family moved to Japan when I was a small child, but we spoke
Mandarin at home when I was growing up. I speak Mandarin as a second language, so I
decided that I wanted to help other students who are learning other languages. When I
first started, I was moved by the number of students who were eager to learn. As a tutor,
I learned how to be a good educator and to be more responsible.<br>&emsp;&emsp;&emsp;&emsp;Additionally, I am an officer in the college’s Japanese-American Association
club, which is for both Japanese and non-Japanese students. I often talk with the other
officers about how to make our club more useful and interesting. We mimic Japanese
festivals and introduce traditional culture and customs. Through my experience as an
officer, I have fostered my own leadership, and I enjoy talking with new people.<br>&emsp;&emsp;&emsp;&emsp;Lastly, I joined the Cross-Cultural Partners program, which has also changed my
school life. In the program, students talk to each other about their culture. Since my
family shares Chinese and Japanese cultural dimensions, I can provide other students
with a unique point of view. I have met many new friends who can help me improve my
English, and I always encourage them to study Japanese and Mandarin.<br>&emsp;&emsp;&emsp;&emsp;Because I have a multicultural background, I have different opinions and a way
of thinking that differs from that of many other people. I think that my multicultural
background also makes me more flexible and curious about new things. I hope I can use
my abilities to bridge the gap between people of different cultures.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="https://twitter.com/deanzabook1" class="fab fa-twitter"></a>
      <a href="https://www.facebook.com/deanza.book.3" class="fab fa-facebook-f"></a>
      <a href="https://www.instagram.com/deanzabook/" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
  </div>
    <script src="script.js"></script>
  </body>
</html>
