

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
                <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <div class="header-menu-right">
               <a href="/" class="underline">home</a>
               <a class="underline" id="t_modal">transfer</a>
               <a class="underline" id="c_modal">classes</a>
               <a class="underline" id="s_modal">study</a>
               <a  class="underline" id="ch_modal">chat</a>
               <a class="underline" id="meet_modal">project</a>
            </div>
        　</div>
        </div>
      </header>
  <div class="click_disappear">
    <div class="tranfer-content">
      <div class="container">
        <ul>
          <li>Name
            <p>ALLY</p>
          </li>

          <li>Accepted Universities
            <p>Leiden University / UCLA / UCSC</p>
          </li>

          <li>Major
            <p>Philosophy</p>
          </li>

          <li>Total GPA
            <p>3.87</p>
          </li>

          <li class="class">Classes
            <p >2016 Fall</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ANTH 02</td>
                  <td>A+</td>
                </tr>
                <tr>
                  <td>HIST 3A</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>HUMI 07</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>PHIL 08</td>
                  <td>B</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Winter</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ARTS 2D</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>EWRT 211</td>
                  <td>P</td>
                </tr>
                <tr>
                  <td>GEO 01</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>HUMI 01</td>
                  <td>A+</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Spring</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>MATH 114</td>
                  <td>P</td>
                </tr>
                <tr>
                  <td>PHIL 07</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>PSYC 06</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>READ 211</td>
                  <td>P</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2017 Summer</p>
            <div class="container-3">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>EWRT 1A</td>
                  <td>A</td>
                </tr>
              </table>
            </div>


            <p id="no-border">2017 Fall</p>
            <div class="container-3">
              <table style="width:100%" class="last-table">
                <tr>
                  <th>class name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ESCI 01</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>ESCI 1L</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>EWRT 02</td>
                  <td>A-</td>
                </tr>
                <tr>
                  <td>MATH 10</td>
                  <td>A-</td>
                </tr>
                <tr>
                  <td>PHIL 20A</td>
                  <td>A</td>
                </tr>
              </table>
            </div>

            <p id="no-border">2018 Winter</p>
            <div class="container-3" class="last-table">
              <table style="width:100%">
                <tr>
                  <th>class name</th>
                  <th>grade</th>
                </tr>
                <tr>
                  <td>ARTS 18A</td>
                  <td>A-</td>
                </tr>
                <tr>
                  <td>PHIL 04</td>
                  <td>A</td>
                </tr>
                <tr>
                  <td>SOC 01</td>
                  <td>A-</td>
                </tr>
              </table>
            </div>

          </li>
          <li>Extracurricular Activities
            <p>Web Writer, Kimono Business</p>
          </li>

          <li>Advices
            <p>Don't just go to useless clubs that you are not even interested
              in and don't do volunteer work that you don't even care. That
              won't help you with getting into your dream schools. Do something
              you are legit interested in and connect that with your major on
              application essay. Don't be satisfied with those volunteers and
              club activities but do what you are passionate about.</p>
          </li>

          <li>Transfer Essay
            <p class="essay-title">Theme: Motivation Letter: Leiden University</p>
              <p>&emsp;&emsp;&emsp;&emsp;I became interested in philosophy when I was in high school. I noticed a gap between
my success in the subjects I had an interest in and in leadership, and my inability to meet my
expectations for myself in my sciences classes. I used to believe that if an individual is
capable of great things, then they must be capable at being great at everything that they put
effort into. This confused me, as I always wondered why I couldn't do just as well in the
classes that I wasn't interested then I was doing in the classes that I actually had a sincere
interest in. I was eventually able to succeed and do well, however, there was still this lack of
interest that kept bugging me. This provoked me to look for answers, which I found through
reading and the exploration of philosophy. I finally found that my initial thought was wrong.
I learned that individuals become great at something due to their environment and the people
around them. One cannot be just good at everything. It is a step-by-step process that takes
time and experience. The time I decided to study philosophy in college was around the time
when I was thinking about situations like the above. While I was reading to find myself
answers that came across to myself in day to day life, I became inspired to become just as
great as the authors that I had read about. In particular, throughout my community college
career, I found myself especially interested in ethics and logic. Initially, I thought that ethics
was just pure philosophy but I learned that it actually can be applied to almost any subject.
Having such interest, I have been pursuing it by every means possible. I have also become
very interested in the subject of logic, so I recently decided to take a logic class at the
University of California Berkeley over the summer for further exploration. My passion for
studying philosophy and my future goal fit perfect, so there is no better choice for my major
other than Philosophy.<br>&emsp;&emsp;&emsp;&emsp;One trait that I have carried that has brought me to my current success is my
experience as a leader. I used to think that a leader should do everything perfect and has to be
admired by others. However, my conclusion after having experience as a leader/founder is
that leader should not do everything. A leader only needs to have the courage to trust the
group members and needs to be patient enough to not interfere too much. A leader needs to
bring balance, and can not just do everything. I learned this through personal experience. I am
a founder of the high school student event hosting association, neXtar, in Japan. We hosted 6
events in two years. Four of them are international communication events and the rest were
political conferences with local university students. During the very first project, which was
an international event, I attempted to do as much as I could and asked my teammates to
support me. We ended up having a hard time looking for the place to hold the event, and
finding participants was also a hard part for us since it was the very first event. Eventually,
we were able to pull of executing the event by asking some other people outside our group
for help. However, I was the only one that felt accomplishment and other group members did
not get the same feeling as me since I was the one that did most of the work. Because of this,some members quit my organization saying that they could not find the motivation to
continue. After that happened, I had a conference with all other members to figure out what
the reason failure was and how we could improve. Many of them pointed out ways that I
could improve my organization skills. We talked until we found a solution and every time I
found a good solution, I applied this to the project. Since then all of our events have become
successful, and my organization still exists today, and is growing in members every year.<br>&emsp;&emsp;&emsp;&emsp;As a natural leader, as well as an active international student, I have many social
media accounts such as Twitter, Instagram, my own personal blog, and my own Youtube
channel. I use them at least once a week to offer information to people who are interested in
studying abroad. Because I am an international student, I know how hard is to gather
information. For Twitter, I tweet about my everyday life and feelings so that people can know
the details of everyday life in the United States. As a result, I now have around 2000
followers who are interested in studying abroad reading my day-to-day posts. For Instagram,
I post everyday life as a visualized picture so that people can imagine the life in the United
States easily. I also have been doing my personal blog for almost two years and I have
100,000+ views on it. I usually write the difference between Japan and the United States, the
philosophical analysis that rose in my mind as a result of my studies, and general information
about the United States. I also recently started a YouTube channel with 4 other students from
Japan who are studying abroad in the United States and Malaysia. We are still in progress,
but this is the easiest way for viewers to get information even though it is a lot of work for us.
YouTube video provides people a clearer picture of the life of studying abroad because
viewers do not need to read but just have to watch. I have been offering information not only
for viewers but also for myself. I believe the things you have done stays a memory and does
not become an experience unless you make it into some kind of recordable form since
forming requires thinking and reflection. I can continue doing these social media accounts
because it is both for other people and for myself. What makes me stand out as a strong
candidate for admissions to Leiden University is the ability that I have to transform my
memories into experiences that I will be able to share forever, and help people with the
experiences that I have created. I believe by continuing my studies at Leiden University, I
will be able to continue down the path of leadership, and sharpen my analytical skills through
my continued studies in Philosophy- this time, while expanding my global perspectives even
further.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="https://twitter.com/deanzabook1" class="fab fa-twitter"></a>
      <a href="https://www.facebook.com/deanza.book.3" class="fab fa-facebook-f"></a>
      <a href="https://www.instagram.com/deanzabook/" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
  </div>
    <script src="script.js"></script>
  </body>
</html>
