
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GSociety</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="web-fonts-with-css/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
              <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <ul class="header-menu-right">
              <li>
                <a href="/" class="underline">home</a>
              </li>
              <li>
                <a class="underline" id="t_modal">transfer</a>
              </li>
              <li>
                <a class="underline" id="c_modal">classes</a>
              </li>
              <li>
                <a class="underline" id="s_modal">study</a>
              </li>
              <li>
                <a  class="underline" id="ch_modal">chat</a>
              </li>
              <li>
                <a  class="underline">poll</a>
              </li>
            </ul>
          </div>
        </div>
      </header>

    <div class="tranfer-content">
      <div class="container">
        <ul>
          <li>Name
            <p>Beverly Tanada</p>
          </li>

          <li>Accepted Universities
            <p>UC Berkeley</p>
          </li>

          <li>Major
            <p>Statistics</p>
          </li>

          <li>Total GPA
            <p>3.98</p>
          </li>

          <li>Extraculicullar Activities
            <p>Statistics Club, Volunteer work</p>
          </li>

          <li>Advices
            <p>I think doing more activities outside class would make it better.
              Taking advantage of resources from campus such as tutoring and workshops
              could have also helped me transfer with more ease. Focusing in
              school is good, but remember to balance that with other activities as well.</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
    <script src="script.js"></script>
  </body>
</html>
