
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Society</title>
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
                <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <ul class="header-menu-right">
              <li>
                <a href="#about" class="scroll">home</a>
              </li>
              <li>
                <a href="#transfer" class="scroll">transfer</a>
              </li>
              <li>
                <a href="#classes" class="scroll">classes</a>
              </li>
              <li>
                <a href="#study" class="scroll">study</a>
              </li>
              <li>
                <a href="#chat" class="scroll">chat</a>
              </li>
              <li>
                <a  class="underline" id="meet_modal">project</a>
              </li>
            </ul>
          </div>
        </div>
      </header>

    <div id="about" class="top">
      <div class="inner-bg">
        <div class="top-description">
          <h1>About Us</h2>
          <p>We make de anza college society better !</p>
        </div>
        <div class="top-detail">
          <a class="btn btn-top-white btn-lg show" id="read-more">Learn more</a>
          <div id="more-text">
            text text text text text text text
          </div>
        </div>
      </div>
    </div>

    <div id = "transfer" class="class-info low">
      <div class="section-title">
        <h2>transfer</h2>
      </div>
      <p>
        information of successfully transferred students<br>you can know thier GPAs, extracurricular activities, and essay
      </p>
      <div class="container-2">
        <a href="/transfer/EECS" class="subject blue">EECS</a>
        <a href="/transfer/economics" class="subject blue">Economics</a>
        <a href="/transfer/media" class="subject blue">Media</a>
        <a href="/transfer/stats" class="subject blue">Statistics</a>
        <a href="/transfer/math" class="subject blue small">Applied Math</a >
        <a href="/transfer/business" class="subject blue">Business </a>
        <a href="/transfer/philosophy" class="subject blue">Philosophy</a>
        <a href="/transfer/linguitics" class="subject blue">Linguitics</a>
      </div>
    </div>

    <div id = "classes" class="class-info gray-section">
      <div class="section-title">
        <h2>class tips</h2>
      </div>
      <p>
        Share your thoughts!<br>whose class should I take or shouldn't?
      </p>
      <div class="container-2">
        <a href="/classes/cis" class="subject yellow">CIS</a>
        <a href="/classes/econAcc" class="subject yellow">Econ/Acc/Busi</a>
        <a href="/classes/anthLing" class="subject yellow">Anthlo/Ling</a>
        <a href="/classes/science" class="subject yellow">Science</a>
        <a href="/classes/math" class="subject yellow">Math</a >
        <a href="/classes/english" class="subject yellow">English</a>
        <a href="/classes/arts" class="subject yellow">Arts</a>
        <a href="/classes/humanities" class="subject yellow">Humanities</a>
        <a href="/classes/psychSoc" class="subject yellow">Psych/Socio</a>
        <a href="/classes/poliHist" class="subject yellow">Poli/Hist</a>
        <a href="/classes/GEs" class="subject yellow">GEs</a>
        <a href="/classes/languages" class="subject yellow">Languages</a>
      </div>
    </div>

    <div id = "study" class="class-info">
      <div class="section-title">
        <h2>Study Room</h2>
      </div>
      <p>
        ask questions and share answers <br>let's learn your class materials more deeper !
      </p>
      <div class="container-2">
          <a href="/study/cis" class="subject blue">CIS</a>
          <a href="/study/econ" class="subject blue">Economics</a>
          <a href="/study/Accounting" class="subject blue">Accounting</a>
          <a href="/study/physics" class="subject blue">Physics</a>
          <a href="/study/math" class="subject blue">Math</a >
          <a href="/study/chemistry" class="subject blue">Chemistry</a>
          <a href="/study/biology" class="subject blue">Biology</a>
          <a href="/study/philosophy" class="subject blue">Philosophy</a>
          <a href="/study/psychology" class="subject blue">Psychology</a>
          <a href="/study/poli" class="subject blue">Poli science</a>
          <a href="/study/GEs" class="subject blue">GEs</a>
          <a href="/study/languages" class="subject blue">Languages</a>
      </div>
    </div>


    <div id = "chat" class="gray-section">
      <div class="section-title">
        <h2>Chat Room</h2>
      </div>
      <p>
        share your opinions on each topic !<br>we will post the most popular ideas on our social media
      </p>
      <div class="container">
        <div class="chat-topic">
          <a href="chat/restaurant" class="i-1 fas fa-utensils"></a>
          <p>what is your favorite restaurant ?</p>
        </div>
        <div class="chat-topic">
          <a href="chat/cafe" class="i-1 fas fa-coffee"></a>
          <p>tell me the best coffee shop!</p>
        </div>
        <div class="chat-topic">
          <a href="chat/professor" class="i-1 fas fa-chalkboard-teacher"></a>
          <p>best professor in De Anza is...!</p>
        </div>
        <div class="chat-topic">
          <a href="chat/film" class="i-1 fas fa-film"></a>
          <p>List 3 movies people should whatch before die !</p>
        </div>
      </div>
    </div>

    <!--- meet up --->

    <div id = "meet_up">
      <div class="section-title">
        <h2>Project Room</h2>
      </div>
      <p>
        Share your projects to gather people !!
      </p>
      <div class="container">
          <div class="meet_up center">
            <a href="/project/lists" class="i-3 fas fa-project-diagram"></a>
            <p>see projects here</p>
          </div>
        <div class="meet_up">
          <a href="/project/post" class="i-3 fas fas fa-paste"></a>
          <p>post your project here</p>
        </div>
      </div>
    </div>

    <!--- poll

    <div id = "poll">
      <div class="section-title">
        <h2>Poll Room</h2>
      </div>
      <p>
        De Anza students poll !
      </p>
      <div class="container-3">
        <div class="poll-topic">
          <a href="#" class="i-2 fas fa-film"></a>
          <p>best movie of this week</p>
        </div>
        <div class="poll-topic">
          <a href="#" class="i-2 fas fa-music"></a>
          <p>hottest song this week is...</p>
        </div>
        <div class="poll-topic">
          <a href="#" class="i-2 fas fa-futbol"></a>
          <p>Which will win tonight's game?</p>
        </div>
        <div class="poll-topic">
          <a href="#" class="i-2 fas fa-university"></a>
          <p>Do you agree with the policy?</p>
        </div>
        <div class="poll-topic">
          <a href="#" class="i-2 fas fa-chart-line"></a>
          <p>which is the best?!</p>
        </div>
      </div>
    </div>
    --->


    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
  </body>
</html>
