
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
            <div class="container">
              <div class="header-title">
                <a href="/">
                    <image class="header-logo scroll" src = "/debook.jpg">
                </a>

                <div class="header-menu-right display">
                   <a href="#about" class="scroll ">home</a>
                   <a href="#transfer" class="scroll">transfer</a>
                   <a href="#classes" class="scroll">classes</a>
                   <a href="#study" class="scroll">study</a>
                   <a href="#chat" class="scroll">chat</a>
                   <a href="#meet_up" class="scroll">project</a>
                </div>
            　</div>
            </div>
      </header>

    <div id="about" class="top">
      <div class="inner-bg">
        <div class="top-description">
          <h1>About Us</h1>
          <p>We make the society of De Anza College better !</p>
        </div>
        <div class="top-detail">
          <a class="btn btn-top-white btn-lg show" id="read-more">Learn more</a>
          <div id="more-text">
            This website is designed to encourage De Anza College students <br>to learn more and work harder.
            You can find transferred students' <br>information, rate classes you took, ask some questions,
            post your opinions, <br>and advertise your projects. Take advantage of this bulletin board service !
          </div>
        </div>
      </div>
    </div>

    <div id = "transfer" class="class-info low">
      <div class="section-title">
        <h2>Transfer</h2>
      </div>
      <p>
          GPAs, extracurricular activities, and essays of transferred students
      </p>
      <div class="container-2 small-iphone">
        <a href="/transfer/EECS" class="subject blue">EECS</a>
        <a href="/transfer/economics" class="subject blue small">Economics</a>
        <a href="/transfer/media" class="subject blue">Media</a>
        <a href="/transfer/stats" class="subject blue">Statistics</a>
        <a href="/transfer/math" class="subject blue">Math</a >
        <a href="/transfer/business" class="subject blue small-3">Business </a>
        <a href="/transfer/philosophy" class="subject blue small">Philosophy</a>
        <a href="/transfer/linguitics" class="subject blue small-3">Linguistics</a>
      </div>
    </div>

    <div id = "classes" class="class-info gray-section class_info_2">
      <div class="section-title">
        <h2>Class tips</h2>
      </div>
      <p>
        Share your thoughts!<br>Whose class should/shouldn't you take?
      </p>
      <div class="container-2 small-iphone">
        <a href="/classes/cis" class="subject yellow">CIS</a>
        <a href="/classes/econAcc" class="subject yellow small-2">Econ/Acc/Busi</a>
        <a href="/classes/anthLing" class="subject yellow small">Anthro/Ling</a>
        <a href="/classes/science" class="subject yellow">Science</a>
        <a href="/classes/math" class="subject yellow">Math</a >
        <a href="/classes/english" class="subject yellow">English</a>
        <a href="/classes/humanities" class="subject yellow small">Humanities</a>
        <a href="/classes/arts" class="subject yellow">Arts</a>
        <a href="/classes/psychSoc" class="subject yellow small-2">Psych/Socio</a>
        <a href="/classes/poliHist" class="subject yellow small-3">Poli/Hist</a>
        <a href="/classes/GEs" class="subject yellow ">GEs</a>
        <a href="/classes/languages" class="subject yellow small">Languages</a>
      </div>
    </div>

    <div id = "study" class="class-info class_info_2">
      <div class="section-title">
        <h2>Study Room</h2>
      </div>
      <p>
        ask questions and share answers <br>let's learn about your class materials more in depth !
      </p>
      <div class="container-2 small-iphone">
          <a href="/study/cis" class="subject blue">CIS</a>
          <a href="/study/econ" class="subject blue small">Economics</a>
          <a href="/study/Accounting" class="subject blue small">Accounting</a>
          <a href="/study/physics" class="subject blue">Physics</a>
          <a href="/study/math" class="subject blue">Math</a >
          <a href="/study/chemistry" class="subject blue small">Chemistry</a>
          <a href="/study/philosophy" class="subject blue small">Philosophy</a>
          <a href="/study/biology" class="subject blue">Biology</a>
          <a href="/study/poli" class="subject blue">Poli sci</a>
          <a href="/study/psychology" class="subject blue small">Psychology</a>
          <a href="/study/GEs" class="subject blue">GEs</a>
          <a href="/study/languages" class="subject blue small">Languages</a>
      </div>
    </div>


    <div id = "chat" class="gray-section">
      <div class="section-title">
        <h2>Chat Room</h2>
      </div>
      <p>
        share your opinions on each topic !<br>  we will post the most popular ideas on our social media
      </p>
      <div class="container class_info_3">
        <div class="chat-topic">
          <a href="chat/restaurant" class="i-1 fas fa-utensils"></a>
          <p>what is your favorite restaurant ?</p>
        </div>
        <div class="chat-topic">
          <a href="chat/cafe" class="i-1 fas fa-coffee"></a>
          <p>tell me the best coffee shop!</p>
        </div>
        <div class="chat-topic">
          <a href="chat/professor" class="i-1 fas fa-chalkboard-teacher"></a>
          <p>best professor in De Anza is...!</p>
        </div>
        <div class="chat-topic">
          <a href="chat/film" class="i-1 fas fa-film"></a>
          <p>list 3 movies people should watch !</p>
        </div>
      </div>
    </div>

    <!--- meet up --->

    <div id = "meet_up">
      <div class="section-title">
        <h2>Project Room</h2>
      </div>
      <p>
        Share your projects to gather people !!
      </p>
      <div class="container class_info_3">
          <div class="meet_up center">
            <a href="/project/lists" class="i-3 fas fa-project-diagram"></a>
            <p>see projects here</p>
          </div>
        <div class="meet_up">
          <a href="/project/post" class="i-3 fas fas fa-paste"></a>
          <p>post your project here</p>
        </div>
      </div>
    </div>

    <!--- poll

    <div id = "poll">
      <div class="section-title">
        <h2>Poll Room</h2>
      </div>
      <p>
        De Anza students poll !
      </p>
      <div class="container-3">
        <div class="poll-topic">
          <a href="#" class="i-2 fas fa-film"></a>
          <p>best movie of this week</p>
        </div>
        <div class="poll-topic">
          <a href="#" class="i-2 fas fa-music"></a>
          <p>hottest song this week is...</p>
        </div>
        <div class="poll-topic">
          <a href="#" class="i-2 fas fa-futbol"></a>
          <p>Which will win tonight's game?</p>
        </div>
        <div class="poll-topic">
          <a href="#" class="i-2 fas fa-university"></a>
          <p>Do you agree with the policy?</p>
        </div>
        <div class="poll-topic">
          <a href="#" class="i-2 fas fa-chart-line"></a>
          <p>which is the best?!</p>
        </div>
      </div>
    </div>
    --->


    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="https://twitter.com/deanzabook1" class="fab fa-twitter"></a>
      <a href="https://www.facebook.com/deanza.book.3" class="fab fa-facebook-f"></a>
      <a href="https://www.instagram.com/deanzabook/" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
  </body>
</html>
