

body {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  color: #888;
  font-family: 'Dosis', sans-serif;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

h4, h5 {
  color: #444;
  font-size: 18px;
}


header {
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 10;
  padding-right:2.5%;
  padding-left:2.5%;
  box-shadow: -1px 1px 1px rgba(0,0,0,0.1);
  width:100%;
  background-color: white;
}

header a:hover{
    cursor:pointer;
}

.flash {
  color: white;
  background: rgb(251, 170, 88);
  text-align: center;
  position: absolute;
  top: 81px;
  z-index: 10;
  width: 100%;
  font-size: 20px;
}

.flash_error{
    color: white;
    background: rgb(229, 39, 39);
    text-align: center;
    position: absolute;
    top: 81px;
    z-index: 10;
    width: 100%;
    font-size: 20px;
}

.form-error {
  color: #ff4d75;
}

.header-menu-right a{
    line-height: 60px;
    padding: 10px;
    font-size:20px;
    color: rgba(107, 106, 102,0.6);
    display: block;
    font-weight: 700;
    float: left;
/*
      display: block;
      float: left;
      color: rgba(107, 106, 102,0.6);
      padding: 10px;
      font-size:20px;
      font-weight: 700;
      line-height: 60px;
      */
}

.header-menu-right a:hover{
  color: rgb(50, 97, 186);
  transition: color .3s;
}

.container {
  padding-right:15%;
  padding-left:10%;
  margin:0 auto;
}

.container-2 {
  padding-right:10%;
  padding-left:18%;
}


.container-3 {
  padding-right:15%;
  padding-left:13%;
}

.header-title {
  float: left;
}

.header-logo {
    width:16%;
    margin-top:0.7%;
}

.header-menu-right {
  float: right;
  display:block;
}

.top {
  margin-top:80px;
  margin: 0 auto;
  text-align: center;
  color: #fff;
  background-image: url("http://www.ratcliffarch.com/content/projects/DeAnzaMLC/DeAnza_MLC_2.jpg");
  background-size: cover;
}

.inner-bg {
  padding: 0;
  padding-top: 180px;
  padding-bottom: 120px;
  background-color: rgba(0, 0, 0, 0.6);
}

.top-description {
  margin-top: 30px;
}

.top-description p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 30px;
}


.btn {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px;
  font-weight: 600;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  cursor: pointer;
  transition: all .3s;
  border-radius: 10px;
}

.btn-top-white {
  background: rgba(250, 250, 250, 0.06);
  border: 1px solid rgba(250, 250, 250, 0.15);
  color: rgba(250, 250, 250, 0.9);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.btn-top-white:hover {
  background: rgba(250, 250, 250, 0.05);
  border: 1px solid rgba(250, 250, 250, 0.8);
  color: #fff;
  box-shadow: 0 0px 12px rgba(250, 250, 250, 0.15);
}

#more-text{
  color: rgba(255, 255, 255, 0.8);
  display:none;
  line-height:25px;
}


.class-info{
  color:#888;
  text-align:center;
  padding-top: 10px;
  font-size:30px;
  padding-bottom: 23%;
}

.class-info p{
  font-size:20px;
  margin:15px;
  margin-bottom:25px;
}

.section-title{
  padding-top:50px;
  text-align:center;
}

.class-info h2{
  padding-bottom: 0;
  font-size:60px;
  font-weight: 400;
}

.low{
  padding-bottom: 15%;
}

.subject{
  padding:1.3% 2.2%;
  width:13%;
  margin-right:6%;
  margin-bottom:25px;
  background-color:rgb(16, 25, 201);
  border:1px solid rgb(16, 25, 201);
  color:white;
  border-radius: 30px;
  font-size:60%;
  float:left;
}

.blue:hover{
  background-color:white;
  color:rgb(16, 25, 201);
  cursor:pointer;
}


.yellow{
  background-color:#e8930b;
  border:1px solid #e8930b;
  color:white;
}

.yellow:hover{
  color:#e8930b;
  background-color:white
}

#chat, #poll, #meet_up{
  color:#888;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 15%;
  font-size:20px;
}

#chat h2, #meet_up h2{
  font-size:60px;
}


.i-3{
    font-size:60px;
    color:#317ce5;
}


.i-1{
  font-size:50px;
  margin-top:20px;
  color:#e5c132;
}

.chat-topic{
  width:25%;
  padding-bottom:10px;
  float:left;
}

.meet_up{
    width:25%;
    padding-bottom:10px;
    float:left;
    margin-top:20px;

}

.center{
    margin-left:29%;
}

.chat-topic p{
  margin:none;
  display:none;
}

.gray-section{
  background: #f4f4f4;
  color: #888;
}

.meet_up p{
    display:none;
}

.poll-topic{
  width:20%;
  padding-bottom:10px;
  float:left;
}


#poll h2{
  font-size:60px;
}

.poll-topic p{
  display:none;
  font-size:15px;
  padding:0 20px;
  margin:8px 0;
}

.i-2{
  font-size:40px;
  margin-top:20px;
  color:#317ce5;
}

.social-section{
  text-align:center;
  font-size:20px;
  padding-bottom:20px;
  background-color:#0c2b60;
  color:white;
}




.fab{
  font-size:30px;
  margin:20px;
  color:#95a0b2;
}

.fab:hover{
  color:#6b81a8;
  /*color:#e8d75f;*/
  cursor:pointer;
}

footer{
  padding:10px;
  text-align:center;
  background-color:#ba7b10;
  color: white;
  font-size:15px;
}

.tranfer-content{
  margin-top:120px;
  color:#888;
  font-size:30px;
  padding-bottom: 7%;
}

.tranfer-content li{
  font-size:30px;
  padding-top:1%;
}

.tranfer-content p{
  color:#707070;
  border-top:1px solid rgba(0,0,0,0.3);
  border-right-width: 5px;
  padding:2% 4%;
  margin-top:0.5%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  color:#707070;
}

.class p{
  margin-bottom:0px;
}

#no-border{
  border:none;
}

.last-table{
  margin-bottom:10%;
}

.essay-title{
  color:#545151;
  font-family: "Times New Roman", Times, serif;
  font-size:25px;
}

.t_1{
  padding-bottom:0px;
}

.transfer_icon{
    margin-top:120px;
    text-align: center;
    color:#e89735;
    font-size:500%;
}


.modal{
  height: 140px;
  top:75px;
  position:fixed;
  z-index: 10;
  padding-right:2.5%;
  padding-left:2.5%;
  margin-left:13%;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  border:1px solid rgba(0,0,0,0.1);
  width:70%;
  background-color: white;
  display:none;
  font-size:20px;
}

.modal_2{
  height: 90px;
  top:75px;
  position:fixed;
  z-index: 10;
  padding-right:2.5%;
  padding-left:2.5%;
  margin-left:23%;
  box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
  border:1px solid rgba(0,0,0,0.1);
  width:50%;
  background-color: white;
  display:none;
  text-align: center;
  line-height: 90px;
  font-size:23px;
}

.underline{
  color: rgba(107, 106, 102,0.6);
  padding: 10px;
  font-weight: 700;
  line-height: 60px;
}

.underline:hover{
  color: rgb(50, 97, 186);
  transition: color .3s;
  text-decoration: underline;
}

.modal_2 a{
  color: rgba(107, 106, 102,0.6);
  padding: 10px;
  font-weight: 700;
  line-height: 60px;
}

.modal_2 a:hover{
  color:#cead2b;
  transition: color .3s;
  text-decoration: underline;
}
