

.post_page{
    margin-top:15%;
}

.input_bottom_2{
    background-color:rgba(28, 175, 161,0.8);
    color:white;
    height:25px;
    width:50px;
    font-size:10px;
    cursor:pointer;
    border-radius:10px;
    margin-left:10px;
    margin-top:40px;
}

.input_bottom_2:hover{
    background-color:rgb(28, 175, 161);
}

.comment{
    font-size:20px;
    width:70%;
}

.answer_column{
    width:100%;
    margin-bottom:3%;
    border-spacing: 10px 5px;
}

.post_answer{
    margin-bottom:3%;
    font-size:25px;
    color:#63625d;
}

.question_post {
    color:#757ae5;
    font-size:150%;
    padding-bottom:2%;
    border-bottom: 1px solid #6b6a66;
    margin:5% 0;
}

.question_post:hover{
    text-decoration: underline;
    color:#1019c9;
    cursor:pointer;
}

.question_post-2{
    color:#1019c9;
    font-size:150%;
    padding-bottom:2%;
    border-bottom: 1px solid #6b6a66;
    margin:5% 0;
}

.question_section{
    margin-top:10%;
    margin-bottom:10%;
}

.question{
    font-size:25px;
    color: #6b6a66;
}

.posts-new{
    margin-top:10%;
}

.class-name-2{
    font-size:50px;
    margin-bottom:60px;
    margin-top:60px;
}

.answer{
    font-size:25px;
    color: #6b6a66;
    border-bottom: 1px solid #6b6a66;
    margin: 100px 0;
}

.answer_section{
    margin-bottom:100px;
}

.class-title{
    font-size:40px;
    margin-bottom:30px;
    border-bottom: 1px solid #6b6a66;
}


.post_link{
    float:right;
    padding-right:12%;
    color:#757ae5;
    font-size:200%;
}

.post_link:hover{
    text-decoration: underline;
    color:#1019c9;
    cursor:pointer;
}

.comment_2{
    margin-top:4%;
    width:100%;
}

.like{
    float:right;
}

.like p{
    font-size:16px;
    color:#505050;
    margin-top:4px;
}

.post_comment{
    float:left;
}

.border{
    border-bottom: 1px solid #6b6a66;
    margin-bottom:30px;
}
