
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GSociety</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
                <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <div class="header-menu-right">
               <a href="/" class="underline">home</a>
               <a class="underline" id="t_modal">transfer</a>
               <a class="underline" id="c_modal">classes</a>
               <a class="underline" id="s_modal">study</a>
               <a  class="underline" id="ch_modal">chat</a>
               <a class="underline" id="meet_modal">project</a>
            </div>
        　</div>
        </div>
      </header>

    <div class="click_disappear">

        <div id = "classes" class="class_section class-info class_info_2">
            <div class="section-title">
            <h2>Study room</h2>
            </div>
            <p>
            ask questions and share answers <br>let's learn your class materials more deeper !
            </p>
            <div class="container-2">
                <a href="/study/japa2" class="subject blue small-2">Japanese 2</a>
                <a href="/study/japa3" class="subject blue small-2">Japanese 3</a>
                <a href="/study/french2" class="subject blue">French 2</a>
                <a href="/study/french3" class="subject blue">French 3</a>
                <a href="/study/mand2" class="subject blue small-2">Mandarin 2</a>
                <a href="/study/mand3" class="subject blue small-2">Mandarin 3</a>
                <a href="/study/ger2" class="subject blue small">Germany 2</a>
                <a href="/study/ger3" class="subject blue small">Germany 3</a>
                <a href="/study/ital2" class="subject blue">Italian 2</a>
                <a href="/study/ital3" class="subject blue">Italian 3</a>
                <a href="/study/kore2" class="subject blue">Korean 2</a>
                <a href="/study/kore3" class="subject blue">Korean 3</a>
                <a href="/study/russ2" class="subject blue small">Russian 2</a>
                <a href="/study/russ3" class="subject blue small">Russian 3</a>
                <a href="/study/spanish2" class="subject blue small">Spanish 2</a>
                <a href="/study/spanish3" class="subject blue small">Spanish 3</a>

             </div>
             <div class="question_section">

             </div>
         </div>

    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
    <script src="script.js"></script>
  </body>
</html>
