
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
                <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <div class="header-menu-right">
               <a href="/" class="underline">home</a>
               <a class="underline" id="t_modal">transfer</a>
               <a class="underline" id="c_modal">classes</a>
               <a class="underline" id="s_modal">study</a>
               <a  class="underline" id="ch_modal">chat</a>
               <a class="underline" id="meet_modal">project</a>
            </div>
        　</div>
        </div>
      </header>

    <div class="click_disappear">

        <div id = "classes" class="class_section class-info class_info_2">
            <div class="section-title">
            <h2>Study room</h2>
            </div>
            <p>
            ask questions and share answers <br>let's learn your class materials more deeper !
            </p>
            <div class="container-2">
                <a href="/study/math1A" class="subject blue">Math 1A</a>
                <a href="/study/math1B" class="subject blue">Math 1B</a>
                <a href="/study/math1C" class="subject blue">Math 1C</a>
                <a href="/study/math1D" class="subject blue">Math 1D</a>
                <a href="/study/math2A" class="subject blue">Math 2A</a>
                <a href="/study/math2B" class="subject blue">Math 2B</a>
                <a href="/study/math22" class="subject blue">Math 22</a>
                <a href="/study/math10" class="subject blue">Math 10</a>
                <a href="/study/math41" class="subject blue">Math 41</a>
                <a href="/study/math42" class="subject blue">Math 42</a>
                <a href="/study/math43" class="subject blue">Math 43</a>
                <a href="/study/math114" class="subject blue small">Math 114</a>
            </div>
         </div>

    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
    <script src="script.js"></script>
  </body>
</html>
