
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GSociety</title>
    <link rel="stylesheet" href="stylesheet.css">
    <link rel="stylesheet" href="web-fonts-with-css/css/all.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
              <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <ul class="header-menu-right">
              <li>
                <a href="/" class="underline">home</a>
              </li>
              <li>
                <a class="underline" id="t_modal">transfer</a>
              </li>
              <li>
                <a class="underline" id="c_modal">classes</a>
              </li>
              <li>
                <a class="underline" id="s_modal">study</a>
              </li>
              <li>
                <a  class="underline" id="ch_modal">chat</a>
              </li>
              <li>
                <a  class="underline">poll</a>
              </li>
            </ul>
          </div>
        </div>
      </header>

    <div class="click_disappear">

        <div id = "classes" class="class_section class-info">
            <div class="section-title">
            <h2>Study room</h2>
            </div>
            <p>
            ask questions and share answers <br>let's learn your class materials more deeper !
            </p>
            <div class="container-2">
                <a href="/study/phys50" class="subject blue">Physics 50</a>
                <a href="/study/phys2A" class="subject blue">Physics 2A</a>
                <a href="/study/phys2B" class="subject blue">Physics 2B</a >
                <a href="/study/phys2C" class="subject blue">Physics 2C</a>
                <a href="/study/phys4A" class="subject blue">Physics 4A</a>
                <a href="/study/phys4B" class="subject blue">Physics 4B</a >
                <a href="/study/phys4C" class="subject blue">Physics 4C</a>
                <a href="/study/phys4D" class="subject blue">Physics 4D</a>
             </div>
         </div>

    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
    <script src="script.js"></script>
  </body>
</html>
