
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Society</title>
    <link rel="stylesheet" href="responsive.css">
    <link href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" rel="stylesheet">
  </head>
  <body>

      <header>
        <div class="container">
          <div class="header-title">
            <a href="/">
                <image class="header-logo scroll" src = "/debook.jpg">
            </a>
            <div class="header-menu-right">
               <a href="/" class="underline">home</a>
               <a class="underline" id="t_modal">transfer</a>
               <a class="underline" id="c_modal">classes</a>
               <a class="underline" id="s_modal">study</a>
               <a  class="underline" id="ch_modal">chat</a>
               <a class="underline" id="meet_modal">project</a>
            </div>
        　</div>
        </div>
      </header>

    <div class="click_disappear">

        <div id = "classes" class="class_section class-info">
            <div class="section-title">
            <h2>Study room</h2>
            </div>
            <p>
            ask questions and share answers <br>let's learn your class materials more deeper !
            </p>
            <div class="container-2">
                <a href="/study/poli1" class="subject blue small">Poli Science 1</a>
                <a href="/study/poli2" class="subject blue small">Poli Science 2</a>
                <a href="/study/poli3" class="subject blue small">Poli Science 3</a>
                <a href="/study/poli5" class="subject blue small">Poli Science 5</a>
             </div>
         </div>

    <div class="social-section">
      <div class="section-title">
        Follow US!
      </div>
      <a href="#" class="fab fa-twitter"></a>
      <a href="#" class="fab fa-facebook-f"></a>
      <a href="#" class="fab fa-instagram"></a>
    </div>

    <footer>
       © 2018 Yaofeng Wu
    </footer>
    <script src="script.js"></script>
  </body>
</html>
